:root {
  --clr-primary1: #534c4c;
  --clr-primary2: #afaaa6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  color: var(--clr-primary1);
}

button {
  border: 1px solid var(--clr-primary2);
  background: none;
  position: relative;
  display: block;
  padding: 16px 56px;
  width: 223px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.slide-animation:after {
  content: "Copiar email ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-animation:before {
  content: "♦ Copiar email ♦";
  height: 100%;
  width: 100%;
  position: absolute;
  color: #383736;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-animation:hover {
  background: url(./imagens/backgroundbotaogif.gif);
  border: 1px solid rgba(169, 169, 121, 0.1);
  transform: translate(10px, -10px);
  box-shadow: -10px 10px rgba(169, 169, 121, 0.1);
}

.slide-animation:hover:before {
  left: 0;
  opacity: 1;
  color: #d469b0;
}

.slide-animation:hover:after {
  left: 100%;
  opacity: 0;
}

.botaoContainer {
  display: flex;
  flex-direction: column;
  align-self: self-start;
}

.toast {
  position: absolute;
  transform: translateY(-140%);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  width: 140px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--clr-primary1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast.show {
  opacity: 0.8;
  visibility: visible;
}

.img-background-mobile {
  display: none;
}

body {
  background: url(./imagens/nnnoise.svg);
}
h1 {
  font-family: "Aclonica", serif;
  font-size: 80px;
  text-transform: uppercase;
  text-shadow: 29px 18px rgba(169, 169, 121, 0.1);
}
p {
  font-size: 16px;
  font-weight: 300;
}
.hero {
  display: flex;
  align-items: center;
}
.column-left {
  flex: 1;
  display: flex;
  padding: 0px 160px 0px 160px;
  gap: 32px;
}
.text-hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.detalhe-lateral {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.vertical-line {
  border-left: 1px solid var(--clr-primary2);
  display: block;
  height: 100%;
}
.img-background {
  opacity: 0;
}
.column-right {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  height: 100vh;
  width: 54vh;
}

.garra {
  position: absolute;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  z-index: 4;
}

.galinha {
  position: absolute;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  bottom: 200px;
}

.estudos-de-caso {
  height: 1024px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }
  .column-left {
    padding: 32px 16px 32px 0px;
    gap: 0px;
  }
  .column-right {
    display: none;
  }
  button {
    padding: 16px 24px;
  }
  .img-background-mobile {
    display: block;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .column-left {
    padding: 32px 16px;
    gap: 0px;
  }
  .column-right {
    display: none;
  }
  button {
    padding: 16px 24px;
  }
  .img-background-mobile {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
  .column-left {
    padding: 0px 64px;
    gap: 0px;
  }
  button {
    padding: 16px 24px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  h1 {
    font-size: 64px;
  }
  .column-left {
    padding: 0px 64px;
    gap: 0px;
  }
}
